body {
    font-family: 'Poppins';
    background-color: #FBFCFD;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #264A99;
}

/* NAVBAR */

.navbar {
    box-shadow: 0px 5px 5px 0px rgb(0, 0, 0, .25);
}

.image-logo {
    width: 50px;
    height: 35px;
}

.nav-link {
    font-size: 18px;
    color: #264A99;
    margin-left: 50px;
}

.active .nav-link {
    color: #FFD200;
}

.nav-link:hover {
    color: #FFD200;
}

/* -------------------------------------------------------------------------- */

.hello {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #264A99;

    margin-top: 50px;
}

.hello-name {
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
    color: #264A99;
}

.hello-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #767779;
}

.img-greet {
    width: 100%;
}

button[type=button] {
    color: #ffffff;
    background: #264A99;
    border-radius: 30px;
    padding: 12px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    margin-top: 33px;
}

button[type=button]:hover {
    background-color: #ffffff;
    color: #264A99;
    border: 1px solid #264A99;
}

.section-content {
    background-color: #264A99;
    padding-top: 50px;
    padding-bottom: 130px;
}

.content-name {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;

    color: #ffffff;
}

.content-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}

button[type=submit] {
    color: #264A99;
    background: #FFD200;
    border-radius: 30px;
    padding: 12px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 0px;
    width: 163px;

}

button[type=submit]:hover {
    background-color: transparent;
    color: #FFD200;
    border: 1px solid #FFD200;
}


.card {
    /* position: absolute; */

    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.card h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #264A99;
}

.card p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #767779;
}


.section-porto {
    position: relative;
    margin-top: -80px;
}


.porto-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #417CFF;
}


.work-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FDB735;
}

.work-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #767779;
}

button[type=menu] {
    color: #264A99;
    background: transparent;
    border: 1px solid #264A99;
    border-radius: 30px;
    padding: 12px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    margin-top: 33px;
}

button[type=menu]:hover {
    background-color: #264A99;
    color: #ffffff;
    border: 1px solid #264A99;
}

.card2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-top: 4rem;

}

.vector-dribble {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.66 4.98C17.7874 3.46773 16.5315 2.21221 15.019 1.34C13.486 0.447 11.813 0 10 0C8.187 0 6.514 0.447 4.98 1.34C3.447 2.233 2.233 3.447 1.34 4.98C0.447 6.513 0 8.187 0 10C0 11.813 0.446 13.487 1.34 15.02C2.21232 16.5325 3.46825 17.7881 4.981 18.66C6.514 19.553 8.187 20 10 20C11.813 20 13.486 19.553 15.02 18.66C16.5325 17.7878 17.7884 16.5323 18.661 15.02C19.554 13.487 20 11.813 20 10C20 8.187 19.554 6.513 18.66 4.98ZM10 1.66C12 1.66 13.772 2.3 15.32 3.579C14.4 4.753 13.034 5.719 11.22 6.479C10.218 4.666 9.132 3.152 7.959 1.939C8.6238 1.75518 9.31025 1.66135 10 1.66ZM3.51 4.8C4.24124 3.87143 5.16646 3.11377 6.221 2.58C7.433 3.781 8.546 5.28 9.561 7.08C7.561 7.68 5.447 7.98 3.22 7.98C2.647 7.98 2.214 7.967 1.92 7.94C2.22648 6.79438 2.76795 5.72506 3.51 4.8ZM1.66 10C1.66 9.946 1.663 9.88 1.67 9.8C1.677 9.72 1.68 9.654 1.68 9.6C1.934 9.614 2.321 9.62 2.841 9.62C5.507 9.62 7.987 9.253 10.28 8.52C10.467 8.893 10.661 9.313 10.86 9.78C9.54 10.073 8.186 10.786 6.799 11.92C5.412 13.054 4.4 14.247 3.76 15.5C2.36 13.913 1.66 12.08 1.66 10ZM10 18.34C8.106 18.34 6.406 17.753 4.899 16.581C5.5 15.394 6.423 14.259 7.67 13.18C8.916 12.1 10.153 11.427 11.38 11.16C12.154 13.299 12.6775 15.5205 12.94 17.78C12.0029 18.1462 11.0061 18.336 10 18.34ZM17.08 14.38C16.4255 15.4345 15.5441 16.3299 14.5 17.001C14.26 14.921 13.8 12.894 13.121 10.92C14.053 10.854 14.886 10.82 15.621 10.82C16.42 10.82 17.307 10.854 18.28 10.92C18.1495 12.1498 17.739 13.3334 17.08 14.38ZM15.84 9.38C14.68 9.38 13.607 9.427 12.62 9.52C12.4109 8.97278 12.1841 8.4325 11.94 7.9C14.006 6.994 15.472 5.894 16.339 4.6C17.539 6.014 18.193 7.627 18.299 9.44C17.487 9.4 16.667 9.38 15.84 9.38Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.dribble-shadow {
    box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.15);
}

.ourwed-shadow {
    box-shadow: inset -5px -20px 30px rgba(51, 119, 85, 0.2);
    filter: drop-shadow(0px 50px 80px rgba(0, 0, 0, 0.15));
}

.section-testimonial {}


.get-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #767779;
}

#form {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #264A99;
    background: #D8DEED;
    border-radius: 5px;
}

#form:hover {
    border-color: 2px solid #264A99;

}


/* --------------------------------------------------------------------------- */